<div class="page-container">
  <div class="main-zone">
    <div class="title-zone">
      <h2 class="title-zone_title">
        שחרור פריט מהנמל
      </h2>
    </div>
    <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
    <div class="tool-bar blue-box">
      <ul class="pair-list nav">
        <li>
          <p>בקשת שירות</p>
          <p></p>
        </li>
        <li>
          <p>סטטוס</p>
          <p>חדש</p>
        </li>
        <li>
          <p>תאריך פתיחה</p>
          <p>12.11.2019</p>
        </li>
        <li>
          <p>נפתח על ידי</p>
          <p>מיטל יעקב</p>
        </li>
      </ul>
    </div>
    <div class="p-col-12 p-marging-bottom">
      <p-accordion [activeIndex]="tabIndex" (onOpen)="onTabOpen($event)">
        <p-accordionTab header="פרטי לקוח" [selected]="true">
          <div class="top-zone">
            <div class="title-zone">
              <div class="title-zone_desk">
                <span class="astrix">*</span>
                כוכבית מציינת שדה חובה
              </div>
            </div>
          </div>

          <div class="content-zone">
            <div class="p-grid">
              <div class="p-col-12 p-lg-3 p-sm-6">
                <h3>מזמין הבקשה</h3>
                <div>שמואל צפריר</div>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6">
                <label for="">סוג לקוח</label>
                <span class="astrix">*</span>
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6">
                <label for="">שם לקוח</label>
                <span class="astrix">*</span>
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6">
                <label for="">חב' עמילות מכס</label>
                <span class="astrix">*</span>
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6">
                <label for="">שם איש קשר</label>
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6">
                <label for="">טלפון איש קשר</label>
                <span class="astrix">*</span>
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
              </div>
            </div>
            <div class="buttons-place">
              <button (click)="nextTab()" class="ui-button-rounded ui-button-secondary"
                icon="far fa-arrow-alt-circle-left" pButton type="button" label="הבא" [disabled]="false"></button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="שילוב מבוקש">
          <ng-container [ngSwitch]="myTabCurrentStep">
            <ng-container *ngSwitchCase="1">
              <div class="top-zone">
                <div class="title-zone">
                  <div class="title-zone_desk">
                    <span class="astrix">*</span>
                    כוכבית מציינת שדה חובה
                  </div>
                </div>
              </div>

              <div class="content-zone">
                <div class="p-grid">
                  <div class="p-col-12 col-5 p-sm-6">
                    <label for="">מהות פריט</label>
                    <span class="astrix">*</span>
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                  </div>
                  <div class="p-col-12 col-5 p-sm-6">
                    <label for="">פריט</label>
                    <span class="astrix">*</span>
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                  </div>
                  <div class="p-col-12 col-5 p-sm-6">
                    <label for="">מטרת שימוש</label>
                    <span class="astrix">*</span>
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                  </div>
                  <div class="p-col-12 col-5 p-sm-6">
                    <label for="">צורת פריט</label>
                    <span class="astrix">*</span>
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                  </div>
                  <div class="p-col-12 col-5 p-sm-6">
                    <label for="">מדינת מקור</label>
                    <span class="astrix">*</span>
                    <i class="far fa-question-circle" [pTooltip]="'פרטים נוספים'" tooltipEvent="focus"
                      tooltipPosition="top" tabindex="0" role="tooltip"></i>
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                  </div>
                </div>
                <div class="buttons-place">
                  <button class="ui-button-rounded ui-button-secondary" pButton type="button"
                    (click)="handleMyTabNextStep()" label="אישור"></button>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="2">
              <div *ngFor="let combine of combineList; let i = index">
                <div class="tool-bar blue-section expand">
                  <ul class="pair-list">
                    <li>
                      <p>מהות פריט</p>
                      <p>צמח</p>
                    </li>
                    <li>
                      <p>פריט</p>
                      <p>תפוז</p>
                    </li>
                    <li>
                      <p>מטרת שימוש</p>
                      <p>תעשיה</p>
                    </li>
                    <li>
                      <p>צורת פריט</p>
                      <p>גבעול</p>
                    </li>
                    <li>
                      <p>מדינת מקור</p>
                      <p>ספרד</p>
                    </li>
                  </ul>
                  <div class="icon-bar">
                    <button pButton type="button" icon="far fa-copy"></button>
                    <i class="fas fa-trash-alt" tabindex="0"></i>
                  </div>
                  <div class="p-col-12">
                    <!-- new line -->
                  </div>
                  <button label="פרטי שילוב" expandContent="id{{i}}"></button>
                </div>
                <div class="content-zone" container id="id{{i}}">
                  <div class="tool-bar">
                    <div class="icon-bar">
                      <i class="fas fa-pen" tabindex="0" (click)="combine.readonly=!isReadOnly(combine)"></i>
                    </div>
                  </div>
                  <div class="p-grid" [class.readonly]="isReadOnly(combine)">
                    <div class="p-col-12 p-lg-3 p-sm-6">
                      <label for="">מזהה אצווה</label>
                      <span class="astrix">*</span>
                      <input type="text" pInputText>
                    </div>
                    <div class="p-col-12 p-lg-3 p-sm-6">
                      <label for="">זן</label>
                      <span class="astrix">*</span>
                      <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                    </div>
                    <div class="p-col-12 p-lg-3 p-sm-6">
                      <label for="">מס’ פריט מכס</label>
                      <span class="astrix">*</span>
                      <input type="text" pInputText>
                    </div>
                    <div class="w100">
                      <!-- new line -->
                    </div>
                    <div class="p-col-12 p-lg-3 p-sm-6">
                      <div class="p-grid">
                        <div class="p-col-12 p-lg-6">
                          <label for="">כמות</label>
                          <span class="astrix">*</span>
                          <input type="text" pInputText>
                        </div>
                        <div class="p-col-12 p-lg-6">
                          <label for="">יחידות מידה</label>
                          <span class="astrix">*</span>
                          <input type="text" pInputText>
                        </div>
                      </div>
                    </div>
                    <div class="p-col-12 p-lg-3 p-sm-6">
                      <label for="">שם ספק</label>
                      <span class="astrix">*</span>
                      <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                    </div>
                    <div class="p-col-12 p-lg-3 p-sm-6 file-upload" *ngIf="!combine?.includeFile">
                      <label for="file-upload">תעודת מקור</label>
                      <span class="astrix">*</span>
                      <p-fileUpload #createUploader name="files" (onSelect)="onUpload($event)" id="file-upload"
                        [showUploadButton]="false" [showCancelButton]="false" cancelLabel="" chooseLabel="העלאת מסמך"
                        accept=".csv,.xlsx,.doc,.docx,.pdf" maxFileSize="5000000">
                        <ng-template pTemplate="toolbar">
                          <div></div>
                        </ng-template>
                        <ng-template let-file pTemplate="file">
                          <div class="ui-file-info ui-fileupload-files">
                            <div class="ui-fileupload-row">
                              <a href="{{file.name}}"><i class="pi" [ngClass]="addFileIcon(file.name)"></i>
                                {{file.name}}</a>
                              <button pButton type="button" class="ui-button-icon-only" label="remove"
                                icon="pi pi-times" (click)="removeFile(file, createUploader)"></button>
                            </div>
                          </div>
                        </ng-template>
                      </p-fileUpload>
                    </div>
                    <div class="p-col-12 p-lg-3 p-sm-6 file-upload ui-fileupload" *ngIf="combine?.includeFile">
                      <label for="file-upload">תעודת מקור</label>
                      <span class="astrix">*</span>
                      <div class="ui-file-info ui-fileupload-files">
                        <div class="ui-fileupload-row edit">
                          <a href="{{combine?.includeFile}}"><i class="pi"
                              [ngClass]="addFileIcon(combine?.includeFile)"></i>
                            {{combine?.includeFile}}</a>
                          <button pButton type="button" class="ui-button-icon-only" label="remove" icon="pi pi-times"
                            (click)="removeIncludedFile(combine.includeFile)"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="buttons-place">
                    <a class="link ml10" (click)="handleCancel()">ביטול</a>
                    <button class="ui-button-rounded ui-button-secondary" pButton type="button"
                      (click)="handleConfirm()" label="אישור"></button>
                  </div>
                  <p-tabView [activeIndex]="0">
                    <p-tabPanel header="דרישות נוספות">
                      <div class="ltr">
                        <ul class="pair-list nav">
                          <li>
                            <p>Item</p>
                            <p>Citrus</p>
                          </li>
                          <li>
                            <p>Item shape</p>
                            <p>Budwood Sticks</p>
                          </li>
                          <li>
                            <p>Item purpose</p>
                            <p>Propagation</p>
                          </li>
                          <li>
                            <p>Country of origin</p>
                            <p>Australia</p>
                          </li>
                          <li>
                            <p>Country of departure</p>
                            <p>India</p>
                          </li>
                        </ul>
                        <hr class="w100">
                        <div class="title-zone secondary">
                          <h2 class="title-zone_title">
                            Other conditions
                          </h2>
                          <div class="title-zone_desk">
                            A certificate from the competent authority (NPPO) stating that the seeds are not
                            genetically
                            modified.<br>The seeds should be treated with:
                          </div>
                        </div>
                        <div class="content-zone">
                          <table class="info-table">
                            <thead>
                              <tr>
                                <th>Chemical preparation</th>
                                <th>Temperature (C°)</th>
                                <th>Concentration (%)</th>
                                <th>Duration (hrs)</th>
                                <th>Duration (min)</th>
                                <th>Radiation</th>
                                <th>Dosage</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Fludioxonil</td>
                                <td></td>
                                <td>0.25g/1kg</td>
                                <td>72</td>
                                <td>4,320</td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>Phosphine GE</td>
                                <td></td>
                                <td>2gr/m3</td>
                                <td>96</td>
                                <td>5,760</td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr class="desk-line">
                                <td colspan="7">
                                  <div>Treatment given should be indicated on the phytosanitary certificate.</div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="tool-bar">
                        <div class="icon-bar">
                          <i class="fas fa-print"></i>
                        </div>
                      </div>
                    </p-tabPanel>


                    <p-tabPanel header="פרטים">

                    </p-tabPanel>
                  </p-tabView>
                </div>
              </div>
              <div class="buttons-place">
                <button class="ui-button-rounded ui-button-secondary" iconPos="right"
                  icon="far fa-arrow-alt-circle-right" pButton type="button" (click)="prevTab()" label="הקודם"></button>
                <button class="ui-button-rounded ui-button-secondary" icon="far fa-arrow-alt-circle-left" pButton
                  type="button" (click)="nextTab()" label="הבא"></button>
              </div>

            </ng-container>
          </ng-container>
        </p-accordionTab>
        <p-accordionTab header="צירוף מסמכים">
          <div class="title-zone p-marging-bottom">
            <div class="title-zone_title">
              <h3>מסמכים נדרשים</h3>
            </div>
            <div class="title-zone_desk">
              <span class="astrix">*</span>
              כוכבית מציינת שדה חובה
            </div>
          </div>
          <div class="content-zone">
            <div class="p-grid">
              <div class="p-col-12 p-lg-3 p-sm-6 file-upload" *ngIf="!includeFile">
                <label for="file-upload">
                  <h3>שטר מטען</h3>
                </label>
                <span class="astrix">*</span>
                <p-fileUpload #createUploader name="files" (onSelect)="onUpload($event)" id="file-upload"
                  [showUploadButton]="false" [showCancelButton]="false" cancelLabel="" chooseLabel="העלאת מסמך"
                  accept=".csv,.xlsx,.doc,.docx,.pdf" maxFileSize="5000000">
                  <ng-template pTemplate="toolbar">
                    <div></div>
                  </ng-template>
                  <ng-template let-file pTemplate="file">
                    <div class="ui-file-info ui-fileupload-files">
                      <div class="ui-fileupload-row">
                        <a href="{{file.name}}"><i class="pi" [ngClass]="addFileIcon(file.name)"></i>
                          {{file.name}}</a>
                        <button pButton type="button" class="ui-button-icon-only" label="remove" icon="pi pi-times"
                          (click)="removeFile(file, createUploader)"></button>
                      </div>
                    </div>
                  </ng-template>
                </p-fileUpload>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6 file-upload ui-fileupload" *ngIf="includeFile">
                <label for="file-upload">תעודת מקור</label>
                <span class="astrix">*</span>
                <div class="ui-file-info ui-fileupload-files">
                  <div class="ui-fileupload-row edit">
                    <a href="{{includeFile}}"><i class="pi" [ngClass]="addFileIcon(includeFile)"></i>
                      {{includeFile}}</a>
                    <button pButton type="button" class="ui-button-icon-only" label="remove" icon="pi pi-times"
                      (click)="removeIncludedFile(includeFile)"></button>
                  </div>
                </div>
              </div>
              <div class="p-col-12">
                <h3>מסמכים נוספים</h3>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6">
                <label for="">שם מסמך</label>
                <span class="astrix">*</span>
                <input type="text" pInputText>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6 file-upload" *ngIf="!includeFile">
                <label for="file-upload">
                  <h3>שטר מטען</h3>
                </label>
                <span class="astrix">*</span>
                <p-fileUpload #createUploader name="files" (onSelect)="onUpload($event)" id="file-upload"
                  [showUploadButton]="false" [showCancelButton]="false" cancelLabel="" chooseLabel="העלאת מסמך"
                  accept=".csv,.xlsx,.doc,.docx,.pdf" maxFileSize="5000000">
                  <ng-template pTemplate="toolbar">
                    <div></div>
                  </ng-template>
                  <ng-template let-file pTemplate="file">
                    <div class="ui-file-info ui-fileupload-files">
                      <div class="ui-fileupload-row">
                        <a href="{{file.name}}"><i class="pi" [ngClass]="addFileIcon(file.name)"></i>
                          {{file.name}}</a>
                        <button pButton type="button" class="ui-button-icon-only" label="remove" icon="pi pi-times"
                          (click)="removeFile(file, createUploader)"></button>
                      </div>
                    </div>
                  </ng-template>
                </p-fileUpload>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6 file-upload ui-fileupload" *ngIf="includeFile">
                <label for="file-upload">תעודת מקור</label>
                <span class="astrix">*</span>
                <div class="ui-file-info ui-fileupload-files">
                  <div class="ui-fileupload-row edit">
                    <a href="{{includeFile}}"><i class="pi" [ngClass]="addFileIcon(includeFile)"></i>
                      {{includeFile}}</a>
                    <button pButton type="button" class="ui-button-icon-only" label="remove" icon="pi pi-times"
                      (click)="removeIncludedFile(includeFile)"></button>
                  </div>
                </div>
              </div>
              <div class="w100"></div>
              <div class="p-col-12 p-lg-3 p-sm-6">
                <label for="">שם מסמך</label>
                <span class="astrix">*</span>
                <input type="text" pInputText>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6 file-upload" *ngIf="!includeFile">
                <label for="file-upload">
                  <h3>שטר מטען</h3>
                </label>
                <span class="astrix">*</span>
                <p-fileUpload #createUploader name="files" (onSelect)="onUpload($event)" id="file-upload"
                  [showUploadButton]="false" [showCancelButton]="false" cancelLabel="" chooseLabel="העלאת מסמך"
                  accept=".csv,.xlsx,.doc,.docx,.pdf" maxFileSize="5000000">
                  <ng-template pTemplate="toolbar">
                    <div></div>
                  </ng-template>
                  <ng-template let-file pTemplate="file">
                    <div class="ui-file-info ui-fileupload-files">
                      <div class="ui-fileupload-row">
                        <a href="{{file.name}}"><i class="pi" [ngClass]="addFileIcon(file.name)"></i>
                          {{file.name}}</a>
                        <button pButton type="button" class="ui-button-icon-only" label="remove" icon="pi pi-times"
                          (click)="removeFile(file, createUploader)"></button>
                      </div>
                    </div>
                  </ng-template>
                </p-fileUpload>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6 file-upload ui-fileupload" *ngIf="includeFile">
                <label for="file-upload">תעודת מקור</label>
                <span class="astrix">*</span>
                <div class="ui-file-info ui-fileupload-files">
                  <div class="ui-fileupload-row edit">
                    <a href="{{includeFile}}"><i class="pi" [ngClass]="addFileIcon(includeFile)"></i>
                      {{includeFile}}</a>
                    <button pButton type="button" class="ui-button-icon-only" label="remove" icon="pi pi-times"
                      (click)="removeIncludedFile(includeFile)"></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="buttons-place">
              <button class="ui-button-rounded ui-button-secondary" iconPos="right" icon="far fa-arrow-alt-circle-right"
                pButton type="button" (click)="prevTab()" label="הקודם"></button>
              <button class="ui-button-rounded ui-button-secondary" icon="far fa-arrow-alt-circle-left" pButton
                type="button" (click)="nextTab()" label="הבא"></button>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="פרטי משלוח">
          <div class="top-zone">
            <div class="title-zone">
              <div class="title-zone_desk">
                <span class="astrix">*</span>
                כוכבית מציינת שדה חובה
              </div>
            </div>
          </div>

          <div class="content-zone">
            <div class="p-grid">
              <div class="p-col-12 p-lg-3 p-sm-6">
                <label for="">אמצעי הובלה</label>
                <span class="astrix">*</span>
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6">
                <label for="">מזהה אמצעי הובלה</label>
                <span class="astrix">*</span>
                <input type="text" pInputText>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6">
                <label for="">מספר שטר מטען</label>
                <span class="astrix">*</span>
                <input type="text" pInputText>
              </div>
              <div class="w100"></div>
              <div class="p-col-12 p-lg-3 p-sm-6">
                <label for="">מספר מצהר</label>
                <span class="astrix">*</span>
                <input type="text" pInputText>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6">
                <label for="">ספק ראשי</label>
                <span class="astrix">*</span>
                <i class="far fa-question-circle" [pTooltip]="'פרטים נוספים'" tooltipEvent="focus" tooltipPosition="top"
                  tabindex="0" role="tooltip"></i>
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6">
                <label for="">מדינת ספק</label>
                <span class="astrix">*</span>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="buttons-place">
              <button class="ui-button-rounded ui-button-secondary" iconPos="right" icon="far fa-arrow-alt-circle-right"
                pButton type="button" (click)="prevTab()" label="הקודם"></button>
              <button class="ui-button-rounded ui-button-secondary" icon="far fa-arrow-alt-circle-left" pButton
                type="button" (click)="nextTab()" label="הבא"></button>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="מיקום ועיתוי השירות">
          <div class="top-zone">
            <div class="title-zone">
              <div class="title-zone_desk">
                <span class="astrix">*</span>
                כוכבית מציינת שדה חובה
              </div>
            </div>
          </div>

          <div class="content-zone">
            <div class="p-grid">
              <div class="p-col-12 p-lg-3 p-sm-6">
                <label for="">מיקום</label>
                <span class="astrix">*</span>
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
              </div>
              <div class="p-col-12 p-lg-3 p-sm-6">
                <label for="">מועד</label>
                <span class="astrix">*</span>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="buttons-place">
              <button class="ui-button-rounded ui-button-secondary" iconPos="right" icon="far fa-arrow-alt-circle-right"
                pButton type="button" (click)="prevTab()" label="הקודם"></button>
              <button class="ui-button-rounded ui-button-secondary" icon="far fa-arrow-alt-circle-left" pButton
                type="button" (click)="nextTab()" label="הבא"></button>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="אישור תנאי שירות">
          <div class="content-zone">
            <p>
              ,מלוא זכויות הקניין הרוחני לרבות סימני מסחר, סודות מסחריים וזכויות יוצרים, בין אם רשומים ובין אם לאו,
              באתר
              לרבות, מבלי לגרוע, בעיצובו, ובכל תוכנה, יישום קובץ גרפי טקסטים, קוד מחשב, תכנים אודיו-ויזואליים וכל חומר
              אחר
              הכלול באתר - הינן של החברה בלבד ו/או ספקי התוכן שלה, ו/או שותפים עסקיים, לפי העניין וחלקם אף מוגנים על
              ידי
              חוקי זכויות היוצרים של מדינת ישראל, אמנות בינ"ל וחוקי זכויות יוצרים של מדינות אחרות. אין להעתיק, להפיץ,
              לשכפל, לשדר, להעביר בהעברת המשך להציג, להנפיק רישיון, להציג בפומבי, להעמיד לרשות הציבור, ליצור יצירות
              נגזרות, להשכיר, לתרגם או למסור לצד שלישי כל חלק מהנ"ל בלא קבלת .הסכמתה המפורשת או לפי העניין של .אותם
              צדדים
              שלישיים בעלי הזכויות, בכתב ומראש
            </p>
            <div class="p-col-12 payment-check">
              <p-checkbox inputId="payment-check" label="אני מאשר את תנאי השירות"></p-checkbox>
            </div>
          </div>

          <hr>
          <div class="buttons-place">
            <button class="ui-button-rounded ui-button-secondary" iconPos="right" icon="far fa-arrow-alt-circle-right"
              pButton type="button" (click)="prevTab()" label="הקודם"></button>
            <button class="ui-button-rounded ui-button-secondary" icon="far fa-arrow-alt-circle-left" pButton
              type="button" (click)="nextTab()" label="הבא"></button>
          </div>
        </p-accordionTab>

        <p-accordionTab header="תשלום" [disabled]="true">
          <ng-container [ngSwitch]="myTab2CurrentStep">
            <ng-container *ngSwitchCase="1">
              <div class="top-zone">
                <div class="title-zone">
                  <div class="title-zone_desk">
                    <span class="astrix">*</span>
                    כוכבית מציינת שדה חובה
                  </div>
                </div>
              </div>
              <div class="content-zone">
                <div class="ui-table ui-widget ui-table-responsive">
                  <div class="ui-table-wrapper">
                    <table>
                      <thead class="ui-table-thead">
                        <tr>
                        <tr>
                          <th>שם אגרה</th>
                          <th>מק"ט</th>
                          <th>ערך לבודד</th>
                          <th>כמות</th>
                          <th>סה"כ</th>
                        </tr>
                      </thead>
                      <tbody class="ui-table-tbody">
                        <tr>
                          <td>שחרור תוצרת טרייה</td>
                          <td>2214-544</td>
                          <td>₪530</td>
                          <td>1</td>
                          <td>₪530</td>
                        </tr>
                        <tr>
                          <td>אגרה לאצווה</td>
                          <td></td>
                          <td>₪30</td>
                          <td>20</td>
                          <td>₪600</td>
                        </tr>
                        <tr class="total">
                          <td colspan="5">סה"כ לתשלום <b>₪1,130</b></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="p-grid mt20">
                  <div class="p-col-12 p-lg-3 p-sm-6">
                    <label for="">בחירת שיטת תשלום</label>
                    <span class="astrix">*</span>
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                  </div>
                  <div class="p-col-9 align-left bottom">
                    התשלום מתבצע בשרת התשלומים הממשלתי (מעבר לאתר חיצוני)
                  </div>
                </div>
              </div>
              <div class="buttons-place">
                <button class="ui-button-rounded ui-button-secondary" pButton type="button"
                  (click)="handleMyTab2NextStep()" label="מעבר לתשלום"></button>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="2">
              <div class="status-view_approve f-medium mt10 mb20"><i class="far fa-thumbs-up"></i> תשלום בוצע בהצלחה
              </div>
              <div class="mb30"><b>פירוט תשלום</b></div>
              <div class="content-zone">
                <div class="ui-table ui-widget ui-table-responsive">
                  <div class="ui-table-wrapper">
                    <table>
                      <thead class="ui-table-thead">
                        <tr>
                        <tr>
                          <th>שם אגרה</th>
                          <th>מק"ט</th>
                          <th>ערך לבודד</th>
                          <th>כמות</th>
                          <th>סה"כ</th>
                        </tr>
                      </thead>
                      <tbody class="ui-table-tbody">
                        <tr>
                          <td>שחרור תוצרת טרייה</td>
                          <td>2214-544</td>
                          <td>₪530</td>
                          <td>1</td>
                          <td>₪530</td>
                        </tr>
                        <tr>
                          <td>אגרה לאצווה</td>
                          <td></td>
                          <td>₪30</td>
                          <td>20</td>
                          <td>₪600</td>
                        </tr>
                        <tr class="total">
                          <td colspan="5">סה"כ שולם <b>₪1,130</b></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="buttons-place right mt20">
                <span>אמצעי תשלום <b>כרטיס אשראי ויזה</b></span>
                <span class="sep"> | </span>
                <span>מספר אישור תשלום <b>9575942</b></span>
              </div>
            </ng-container>
          </ng-container>
        </p-accordionTab>
      </p-accordion>
    </div>
    <div class="p-col-12 align-left">
      <button type="button" pButton label="שליחה" class="ui-button-primary ui-button-rounded"></button>
    </div>
  </div>
</div>

<div class="p-col-12 p-marging-bottom">
  <h3>Messages</h3>
  <button type="button" pButton (click)="messageSuccess()" label="Success"
    class="ui-button-success ui-button-rounded"></button>
  <button type="button" pButton (click)="messageInfo()" label="Info" class="ui-button-info ui-button-rounded"></button>
  <button type="button" pButton (click)="messageWarn()" label="Warn"
    class="ui-button-warning ui-button-rounded"></button>
  <button type="button" pButton (click)="messageError()" label="Error"
    class="ui-button-danger ui-button-rounded"></button>
</div>

<div class="p-col-12 p-marging-bottom">
  <h3>Confirms</h3>
  <button type="button" pButton (click)="confirmSuccess()" label="Success"
    class="ui-button-success ui-button-rounded"></button>
  <button type="button" pButton (click)="confirmInfo()" label="Info" class="ui-button-info ui-button-rounded"></button>
  <button type="button" pButton (click)="confirmWarn()" label="Warn"
    class="ui-button-warning ui-button-rounded"></button>
  <button type="button" pButton (click)="confirmError()" label="Error"
    class="ui-button-danger ui-button-rounded"></button>
</div>

<div class="p-col-12 p-marging-bottom">
  <h3>Toast</h3>
  <button type="button" pButton (click)="toastSuccess()" label="Success"
    class="ui-button-success ui-button-rounded"></button>
  <button type="button" pButton (click)="toastInfo()" label="Info" class="ui-button-info ui-button-rounded"></button>
  <button type="button" pButton (click)="toastWarn()" label="Warn" class="ui-button-warning ui-button-rounded"></button>
  <button type="button" pButton (click)="toastError()" label="Error"
    class="ui-button-danger ui-button-rounded"></button>
</div>

<div class="p-col-12 p-marging-bottom">
  <h3>Show By Id</h3>
  <button type="button" pButton (click)="showMessageById()" label="MessageById"
    class="ui-button-info ui-button-rounded"></button>
  <button type="button" pButton (click)="showConfirmById()" label="ConfirmById"
    class="ui-button-info ui-button-rounded"></button>
</div>

<div class="p-col-12 p-marging-bottom">
  <h3>Status of request Pending for approval</h3>
  <div class="status-buttons">
    <button pButton type="button" label="Approve"
      class="ui-button-rounded ui-button-secondary ui-status-approve"></button>
    <button pButton type="button" label="Fix" class="ui-button-rounded ui-button-secondary ui-status-fix"></button>
    <button pButton type="button" label="Reject"
      class="ui-button-rounded ui-button-secondary ui-status-reject"></button>
  </div>
</div>
